<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/style-admin.css" th:href="@{/css/style-admin.css}"/>
</head>

<main>
    <div th:replace="fragments/menu"></div>

    <div class="container"></div>
</main>

</html>