<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <table class="table tab-content">
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Travelled Distance</th>
                    </tr>
                    <tr class="warning">
                        <td><p th:text="${car.make}"></p></td>
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.travelledDistance}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table tab-content">
                    <tr>
                        <th>Part Name</th>
                        <th>Part Price</th>
                    </tr>
                    <tr class="warning" th:each="part : ${parts}">
                        <td><p th:text="${part.name}"></p></td>
                        <td th:text="${part.price}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>