<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-12 col-xs-12">
            <div class="jumbotron" id="modif-jumbotron">
                <div>
                    <h3>All Routes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Departure</th>
                            <th>Company</th>
                            <th>Reservation</th>
                        </tr>
                        <tr class="warning" th:each="bus : ${buses}">
                            <td th:text="${bus.originatedFromName}"></td>
                            <td th:text="${bus.destinationToName}"></td>
                            <td th:text="${bus.timeFromOrigin}"></td>
                            <td th:text="${bus.busName}"></td>
                            <td><a th:href="@{'/booking/booking-date/' + ${bus.id}}">Buy Ticket</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</html>