body {
    background-color: gainsboro;
    background-position: center top;
    background-size: 100% auto;
}

#modif-jumbotron {
    border-radius: 0;
    background-color: white;
}

.form-group.row.required .form-control-label:before {
    content: "*";
    color: red;
}

.form-group.row.required .seat-select-text:before {
    content: "*";
    color: red;
}

.has-danger {
    color: red;
}

#seatHelp {
    content: "";
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
}

.form-group.row.required.time {
    display: inline-block;
    margin-right: 15px;
}

 .form-group.row.required.time .form-control.time {
     width: 60px;
 }

.form-group.row.city-origin {
    display: inline-block;
    margin-right: 45px;
}

.form-group.row.city {
    display: inline-block;
}

.form-group.row.city .form-control.city {
    width: 215px;
}

.form-group.row.city-origin .form-control.city {
    width: 215px;
}

.form-group.row.home-find-city {
    display: inline-block;
    margin-left: 35px;
}

.form-horizontal.select {

    margin-left: 15px;
}

.booking-form {
    padding-left: 63px;
}

.form-group .row .required .booking-form {
    padding-left: 63px;
}

.form-group row .booking-form{
    padding-left: 63px;
}

.user-sort {
    padding-left: 20px;
}


/* BUS SEATS POSITIONING */

.seat-select-text {
    margin-left: 60px;
}

.left-left-seats {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 30px;
}

.left-right-seats {
    display: inline-block;
    margin-bottom: 30px;
}

.right-left-seats {
    display: inline-block;
    margin-left: 50px;
}

.right-right-seats {
    display: inline-block;
}

input[type=checkbox] {
    transform: scale(1.4);
}

.seats-up {
    display: inline-block;
    border: 1px solid black;
    padding: 3px 6px;
    margin-bottom: 5px;
}

.seats-up:hover {
    background-color: lightgreen;
}

.seats-up.reserved {
    background-color: red;
}

#reserved-seat-label {
    margin-left: -15px;
}

/* MODIFIED INPUTS */

.modified-input {
    border: none;
    background-color: white;
}

.booking-date {
    width: 150px;
}

/* USER SEARCH */

#showform {
    display: inline-block;
    margin-right: 20px;
}

#searchForm {
    display: inline-block;
}

/* REMOVE INPUT NUMBER ARROWS IN FIREFOX */
input[type=number] {
    -moz-appearance:textfield;
}