<div>
    <div class="container">
        <table class="table tab-content">
            <tr>
                <th>Discount %</th>
                <th>Car Make</th>
                <th>Car Model</th>
                <th>Customer Name</th>
            </tr>
            <tr class="warning">
                <td><p th:text="${sale.discount}"></p></td>
                <td th:text="${sale.carMake}"></td>
                <td th:text="${sale.carModel}"></td>
                <td th:text="${sale.customerName}"></td>
            </tr>
        </table>
    </div>
</div>