<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="jumbotron" id="modif-jumbotron" th:fragment="register">
    <div class="form-group row">
        <h2 class="glyphicon glyphicon-user"> User Registration</h2>
    </div>
    <br/>
    <form method="post" th:object="${userRegisterModel}">

        <div class="form-group row required">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="Username"/>
            <div class="has-danger" id="usernameHelp" th:each="error : ${#fields.errors('username')}"
                 th:text="${error}">
            </div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            <div class="has-danger" id="passwordHelp" th:each="error : ${#fields.errors('password')}"
                 th:text="${error}"></div>
            <div class="has-danger" id="globalPasswordHelp" th:each="error : ${#fields.errors('global')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control"
                   placeholder="Confirm Password"/>
            <div class="has-danger" id="confirmPasswordHelp" th:each="error : ${#fields.errors('confirmPassword')}"
                 th:text="${error}"></div>
            <div class="has-danger" id="rePasswordHelp" th:each="error : ${#fields.errors('global')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="email">Email</label>
            <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="somebody@example.com"/>
            <div class="has-danger" id="emailHelp" th:each="error : ${#fields.errors('email')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="fullName">Full Name</label>
            <input type="text" id="fullName" th:field="*{fullName}" class="form-control" placeholder="Full Name"/>
            <div class="has-danger" id="fullNameHelp" th:each="error : ${#fields.errors('fullName')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="cityName">City</label>
            <select class="form-control" id="cityName" th:field="*{cityName}">
                <option th:each="city : ${cities}" th:value="${city.name}" th:text="${city.name}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="address">Address</label>
            <textarea id="address" name="address" class="form-control" placeholder="Enter Your Full Address"/>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" th:field="*{mobile}" class="form-control" placeholder="08XXXXXXXX"/>
            <div class="has-danger" id="mobileHelp" th:each="error : ${#fields.errors('mobile')}"
                 th:text="${error}"></div>
        </div>

        <div class="form-group row">
            <input class="btn btn-default" type="submit" name="register" value="Register"/>
        </div>

    </form>
</div>

<div class="jumbotron" id="modif-jumbotron" th:fragment="login">
    <div>
        <p style="color: red" th:if="${error != null}" th:text="${error}"></p>
    </div>
    <h2 class="glyphicon glyphicon-log-in"> Login</h2>
    <br/>
    <br/>
    <form th:method="post">
        <div class="form-group">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" class="form-control form-control-danger" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="password">Password</label>
            <input type="password" class="form-control form-control-danger" id="password" name="password"/>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="remember">
                <input type="checkbox" class="form-check-input" id="remember" name="remember"/>
                Remember Me
            </label>
        </div>
        <div class="form-group">
            <button th:type="submit" class="btn btn-primary">Login</button>
            <span class="nav navbar-nav navbar-right">
        Don't have an acconunt? <a th:href="@{/user/register}"><span class="nav-item glyphicon glyphicon-user"></span> Register</a>
            </span>
        </div>
    </form>
    <form action="/connect/facebook" method="post">
        <input type="hidden" name="scope" value="public_profile, email" />
        <input class="btn btn-primary" type="submit" value="Login with Facebook"/>
    </form>
</div>

<div class="jumbotron" id="modif-jumbotron" th:fragment="editUser">
    <div class="form-group row">
        <h2 class="display-3">Edit User</h2>
    </div>
    <br/>
    <form method="post" th:object="${editUserModel}">

        <div class="form-group row">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" th:value="${username}" disabled="disabled"/>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="email">Email</label>
            <input type="email" class="form-control" th:field="*{email}" id="email" th:value="${email}"/>
            <div class="has-danger" id="emailHelp" th:each="error : ${#fields.errors('email')}" th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="fullName">Full Name</label>
            <input type="text" id="fullName" th:field="*{fullName}" class="form-control" th:value="${fullName}"/>
            <div class="has-danger" id="fullNameHelp" th:each="error : ${#fields.errors('fullName')}" th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="cityName">City</label>
            <select class="form-control" id="cityName" th:field="*{cityName}">
                <option th:each="city : ${cities}" th:value="${city.name}" th:text="${city.name}"></option>
            </select>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="address">Address</label>
            <textarea id="address" name="address" class="form-control" th:field="*{address}" th:value="${address}"/>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" th:field="*{mobile}" class="form-control" th:value="${mobile}"/>
            <div class="has-danger" id="mobileHelp" th:each="error : ${#fields.errors('mobile')}" th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="accountNonLocked">Account Non Locked</label>
            <select class="form-control" id="accountNonLocked" th:field="*{accountNonLocked}">
                <option th:if="${editUserModel.accountNonLocked == 'true'}" th:value="${'TRUE'}" th:text="${'TRUE'}"></option>
                <option th:unless="${editUserModel.accountNonLocked == 'false'}" th:value="${'FALSE'}" th:text="${'FALSE'}"></option>
                <option th:if="${editUserModel.accountNonLocked == 'false'}" th:value="${'FALSE'}" th:text="${'FALSE'}"></option>
                <option th:unless="${editUserModel.accountNonLocked == 'true'}" th:value="${'TRUE'}" th:text="${'TRUE'}"></option>
            </select>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="enabled">Enabled</label>
            <select class="form-control" id="enabled" th:field="*{enabled}">
                <option th:if="${editUserModel.enabled == 'true'}" th:value="${'TRUE'}" th:text="${'TRUE'}"></option>
                <option th:unless="${editUserModel.enabled == 'false'}" th:value="${'FALSE'}" th:text="${'FALSE'}"></option>
                <option th:if="${editUserModel.enabled == 'false'}" th:value="${'FALSE'}" th:text="${'FALSE'}"></option>
                <option th:unless="${editUserModel.enabled == 'true'}" th:value="${'TRUE'}" th:text="${'TRUE'}"></option>
            </select>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="authority">Role</label>
            <select class="form-control" id="authority" th:field="*{authority}">
                <option th:each="role : ${roles}" th:value="${role.authority}" th:text="${role.authority}"></option>
            </select>
        </div>
        <div class="form-group row">
            <input class="btn btn-danger" type="submit" name="edit" value="Edit"/>
            <a class="btn btn-default" th:href="@{/users}">Cancel</a>
        </div>
    </form>
</div>

<div class="jumbotron" id="modif-jumbotron" th:fragment="deleteUser">
    <div class="form-group row">
        <h2>Delete User</h2>
    </div>
    <br/>
    <form method="post" th:object="${deleteUserModel}">

        <div class="form-group row">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="email">Email</label>
            <input type="email" class="form-control" th:field="*{email}" id="email" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="fullName">Full Name</label>
            <input type="text" id="fullName" th:field="*{fullName}" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="cityName">City</label>
            <input type="text" id="cityName" th:field="*{cityName}" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="address">Address</label>
            <textarea id="address" name="address" class="form-control" th:field="*{address}" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <label class="form-control-label" for="mobile">Mobile Number</label>
            <input type="tel" id="mobile" th:field="*{mobile}" class="form-control" disabled="disabled"/>
        </div>
        <div class="form-group row">
            <input class="btn btn-danger" type="submit" name="delete" value="Delete"/>
            <a class="btn btn-default" th:href="@{/users}">Cancel</a>
        </div>
    </form>
</div>

<div class="jumbotron" id="modif-jumbotron" th:fragment="changeUserPassword">
    <div class="form-group row">
        <h2 class="display-3">Change Password</h2>
    </div>
    <br/>
    <form method="post" th:object="${changeUserPasswordModel}">

        <div class="form-group row">
            <label class="form-control-label" for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" th:value="${username}" disabled="disabled"/>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="password">New Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password"/>
            <div class="has-danger" id="passwordHelp" th:each="error : ${#fields.errors('password')}"
                 th:text="${error}"></div>
            <div class="has-danger" id="globalPasswordHelp" th:each="error : ${#fields.errors('global')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row required">
            <label class="form-control-label" for="confirmPassword">Confirm New Password</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control"
                   placeholder="Confirm Password"/>
            <div class="has-danger" id="confirmPasswordHelp" th:each="error : ${#fields.errors('confirmPassword')}"
                 th:text="${error}"></div>
            <div class="has-danger" id="rePasswordHelp" th:each="error : ${#fields.errors('global')}"
                 th:text="${error}"></div>
        </div>
        <div class="form-group row">
            <input class="btn btn-danger" type="submit" name="change" value="Change"/>
            <a class="btn btn-default" th:href="@{/users}">Cancel</a>
        </div>
    </form>
</div>

</html>